{% load static %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
  <!-- Required meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{% static 'css/base.min.css' %}"/>
  <link rel="stylesheet" href="{% static 'css/choices.min.css' %}"/>
  <link rel="stylesheet" href="{% static 'css/all.min.css' %}"/>
  <link rel="stylesheet" href="{% static 'vendor/leaflet/leaflet.css' %}"/>

  <!-- Stylesheets -->
  <link rel="stylesheet" href="{% static 'css/vendors.css' %}">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">

  <title>لاگین</title>
</head>

<body class="preloader-visible" data-barba="wrapper">
  <!-- preloader start -->
  <div class="preloader js-preloader">
    <div class="preloader__bg"></div>
  </div>
  <!-- preloader end -->


  <main class="main-content bg-beige-1">

    <header data-anim="fade" data-add-bg="" class="header -base js-header">


      <div class="header__container py-10">
        <div class="row justify-between items-center">

          <div class="col-auto">
            <div class="header-left">

              <div class="header__logo ">
                <a data-barba href="/">
                  <img src="{% static 'img/general/logo.svg' %}" alt="logo">
                </a>
              </div>

            </div>
          </div>

    </header>


    <div class="content-wrapper  js-content-wrapper">

      <section class="form-page js-mouse-move-container">
        <div class="form-page__img bg-dark-1">
          <div class="form-page-composition">
            <div class="-bg"><img data-move="30" class="js-mouse-move" src="{% static 'img/login/bg.png' %}" alt="bg"></div>
            <div class="-el-1"><img data-move="20" class="js-mouse-move" src="{% static 'img/home-9/hero/bg.png' %}" alt="image"></div>
            <div class="-el-2"><img data-move="40" class="js-mouse-move" src="{% static 'img/home-9/hero/1.png' %}" alt="icon"></div>
            <div class="-el-3"><img data-move="40" class="js-mouse-move" src="{% static 'img/home-9/hero/2.png' %}" alt="icon"></div>
            <div class="-el-4"><img data-move="40" class="js-mouse-move" src="{% static 'img/home-9/hero/3.png' %}" alt="icon"></div>
          </div>
        </div>

        <div class="form-page__content lg:py-50">
          <div class="container">
            <div class="row justify-center items-center">
              <div class="col-xl-6 col-lg-8">
                <div class="px-50 py-50 md:px-25 md:py-25 bg-white shadow-1 rounded-16">
                  <h3 class="text-30 lh-13">ورود</h3>
                  <p class="mt-10">آیا هنوز ثبت نام نکرده اید؟ <a href="/signup" class="text-purple-1">ثبت نام رایگان</a></p>

                  <form method="post" class="contact-form respondForm__form row y-gap-20 pt-30" action="/login/">
                    {% csrf_token %}
                    <div class="col-12">
                      <label class="text-16 lh-1 fw-500 text-dark-1 mb-10">نام کاربری</label>
                      <input type="text" name="user_name" placeholder="admin">
                    </div>
                    <div class="col-12">
                      <label class="text-16 lh-1 fw-500 text-dark-1 mb-10">رمز عبور</label>
                      <input type="password" name="password" placeholder="********">
                    </div>
                    <div class="col-12">
                      <button type="submit" name="submit" id="submit" class="button -md -green-1 text-dark-1 fw-500 w-1/1">
                        ورود
                      </button>
                    </div>
                  </form>

                  <div class="lh-12 text-dark-1 fw-500 text-center mt-20">یـا ورود با حساب </div>

                  <div class="d-flex x-gap-20 items-center justify-between pt-20">
                    <div><button class="button -sm px-24 py-20 -outline-blue-3 text-blue-3 text-14">Facebook</button></div>
                    <div><button class="button -sm px-24 py-20 -outline-red-3 text-red-3 text-14">Google</button></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>


    </div>
  </main>

    <!-- JavaScript -->
  <script src="{% static 'vendor/leaflet/leaflet.js' %}"></script>
  <script src="{% static 'js/vendors.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
</body>

</html>